@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
font-family: 'roboto', sans-serif;
margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;    
    padding: 0px 20px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 90px;
    background-color: #1f2937;
    gap: 60px;
    justify-content: center;
    align-items: center;

    
}

.hero-heading {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-right {
    display: flex;


}

.hero-left {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: space-between;
    flex-basis: 400px;
    flex-grow: 0;
    gap: 9px;
}

.hero img { 
    width: 400px; 
    height: auto; 
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    gap: 10px;
  }

  button {
    color: #e5e7eb;  
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 8px;
    width: 100px;
    padding: 8px 16px;
    font-weight: 600;
  }

  .information {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px 90px 90px 90px
  }

.information-heading {
    display: flex;
    font-weight: 800;
    color: #1f2937;
    font-size: 36px;
    justify-content: center;
    padding: 30px 90px 30px 90px;
}

  .information-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 150px;
  }

  .information-item img {
    border: 5px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
  }

  .quote{
    display: flex; 
    flex-direction: column; 
    background-color: #e5e7eb;
    align-items: center;
    padding: 90px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

  .name {
      align-self: flex-end;
      font-size: 20px;
      font-weight: 700;
  }

